.filterContainer {
    margin-bottom: 3rem;
    padding: 1rem 5rem 1rem 5rem;
    justify-content: center;
}

.containerFilter {
    margin-top: 5rem;
    width: 100%;
    justify-content: center;
}

.titleFilter {
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-family: MetSerif,Georgia,serif;


}