.textInformational {
    margin-top: 0.5rem;
}

.containerImage {  width: 100%;  max-height: 30rem; }
.imageArt {  width: 100%;  max-height: 30rem; min-height: 5rem;  object-fit: cover;  object-position: center;}