.navbarContainer {
     padding: 0.5rem 1rem 0.5rem 1rem;
     border-bottom: 2px solid black;
}

.logo {
    height: 3.5rem;
}

.iconSearch {
    margin-top: 0.3rem;
    margin-right: 1rem;
}

.buttonFavorite {
    border-radius: 5rem;
    background-color: black;
    padding: 0.4rem 0.59rem 0.49rem 0.6rem;
    align-items: center;
    text-align: center;
    justify-content: center;
}